/*Default styles are here*/

*{
	margin: 0;
	padding: 0;
}

body{
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;

}

li{
	list-style: none;
	display: inline-block;
}

a{
	text-decoration: none;
	transition: all 500ms ease-in-out;
}

a:hover,
a:active{
	text-decoration: none;

}

h1,
h2,
h4{
	font-family: 'PT Sans Narrow', Arial, sans-serif ;
	text-transform: uppercase;
	font-weight: 700;
}

p{
	font-size: 15px;
	line-height: 21px;
}

.btn{
	transition: all 300ms ease-in-out;
	font-weight: 500 !important;
	text-transform: uppercase;

}

.btn:hover{
	background-color: #ededed !important;
	color: #3c3c3c !important;
	border: 1px  solid #fff !important;
}

/*Default styles end here*/

/* styling navbar */
.navbar{
	background-color:#222220 !important;
	text-transform: uppercase;
	font-weight:300;
	/* filling out space between navbar and header */
	margin-bottom:-2px;
	border-bottom:2px solid #222220;

}
.navbar a:hover{
	border-bottom:2px solid #D34747;
	/* padding-bottom:0px; */
}

@media (max-height:780px){
	.navbar a:hover{
		border-bottom:none;
	}
}

/* styling login box */
#login-dp{
	min-width:250px;
	padding:14px 14px 0;
	overflow: hidden;
	background-color:rgba(255,255,255,0.8);
}

b{
	font-weight:400;
}

#login-dp .help-block{
	font-size:12px;
}

#login-dp .bottom{
	background-color: rgba(255,255,255,0.9);
	border-top:1px solid #ddd;
	clear:both;
	padding:14px;
}

#login-dp .social-buttons{
	margin:12px 0;
}

#login-dp .social-buttons a{
	width:49%;
}

#login-dp .form-group{
   margin-bottom:10px;
}

.btn-fb{
	color:black;
	background-color:white;
	
}

.btn-fb:hover{
	color:white !important;
	background-color:#3b5998 !important;
	/* #496ebc */
}

.btn-tw{
	background-color:white;
	color:black;
}

.btn-tw:hover{
	color:white !important;
	background-color:#55acee !important;

}

#signup-btn{
	background-color:#d34747 !important;
	border:0;
	border-radius:0;
	height:2.5em;
}

#signup-btn:hover{
color:white !important;
}


/* styling for smaller devices */
@media(max-width:768px){

	#login-dp{
		background-color:inherit;
		color:#fff;
	}
	#login-dp .bottom{
		background-color: inherit;
		border-top:0 none;
	}
}

/* styling header */
.header{
	background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../assets/blur.jpg);
	/* background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.9)); */
	background-size:cover;
	background-position:center;
	height:1000px;
}

.header h1{
	color:white;
	text-align:center;
	font-size:70px;
	margin-top:200px;
}
.header h3{
	color:white;
	text-align:center;
	margin-left:15px;
}

.header span{
	font-size: 20px;
	position:relative;
	top:-10px;
}

/* sligning buttons in heade using flexbox  */
.flex-container{
	display: flex !important;
	height:100px;
	border:1px solid transparent !important;
	justify-content: center;

}

.btn-grp{
	text-align:center;
	justify-content: center;
	align-self:center;
}

.flex-1{
background-color: #d34747;
margin-right:10px;
border:none;

}

.flex-2{
	background-color:#36a73a;
	margin-right:10px;
	border:none;
}
/* styling services section */
.services{
	padding:80px;
	text-align:center;
}

.services h1,.services h4{
	color:#4c4c4c;
	padding-top:20px 0px 0px 20px;

}

.services h4{
	padding-top:30px;
}

.services p{
	font-size:14px;
	padding-bottom:40px;
	color:#737373;
}

.services i{
	height:80px;
	width:80px;
	font-size:35px;
	font-size:35px;
	padding:25px 20px;
	border-radius:50%;
	background-color:#d34747;
	color:white;

}

.services{
	margin-top:30px;
}

.services p{
	margin-top:20px;
}

@media(max-width:780px){
	.services{
		padding:50px;
		margin-top:50px;
	}
}

/* styling sales section */
.sales{
	padding:150px 50px 60px 80px;
	min-height:600px;
	margin-top:150px;
	color:white;
	background-color:#222220;
}

.sales #left-sales img{
	width:400px;
	height:150px;
	min-height:300px;
	display:inline-block;
}

.sales #right-sales{
	margin-bottom:50px;
}

.sales #right-sales h1{
	font-family: 'Montserrat', sans-serif;
	font-size:30px;
}

.sales #right-sales p{
	font-size:17px;
	text-align:justify;
	line-height:30px;
	margin-top:20px;
}

@media(max-width:768px){

	.sales{
		padding:20px;
		min-height:500px;
		margin-top:-10px;
	}
}

/* pricing section */

.pricing{
	padding:50px 80px;
	text-align:center;
	background-color:#bf5353;
}

.pricing h2,.pricing p{
	color:white;
}

.pricing p{
	padding-bottom:40px;
	padding-top:20px;
}

.pricing .packages{
	padding:30px;
	border:1px solid #ccc;
	background:white;
	border-radius:5px;
	margin-top:30px;
}

.packages li{
	display:block;
	padding:5px;
}

.packages h1,.packages h4, .packages b{
	color:#4c4c4c;
}

.packages p,.packages li{
	color:#737373;
}

.packages button{
	margin-top:10px;
}

@media(max-width:546px){
	.pricing{
       padding:50px 0px;
	}

	.packages{
		width:90%;
		margin-left:auto;
		margin-right:auto;
	}
}

/* styling mission section */
.mission{
	padding:80px;
	min-height:600px;
	padding-top:120px;
}

.mission #left-side{
	margin-bottom: 50px;
}

.mission #right-side{
	margin-top:20px;
	font-size:17px;
	text-align:justify;
	line-height:30px;
}

.mission #left-side p{
	margin-top:20px;
	font-size:17px;
	text-align:justify;
	line-height:30px;
}

.mission #right-side img{
	min-height:300px;
	width:450px;
	margin-left:100px;
}

@media(max-width:834px){
	.mission{
		padding:80px;
		min-height:600px;
		margin-top:20px;
		padding-right:20px;
		padding-left:20px;
	}

	.mission #right-side img{
		margin-top:60px;
		height:100%;
		width:100%;
		margin-left:auto;
		margin-right:auto;
	}

	.mission #left-size h1{
		font-size:17px;
	}
}

/* clients section */
.clients{
	padding:50px 0px 80px;
	background-color:#bf5353;
	text-align:center;
	color:white;
}
.clients h2{
	color: white;
}

.clients p{
	padding-bottom: 40px;
}

.clients img{
	width:200px;
	cursor:pointer;
	margin:40px 0;

}

@media(max-width:768px){
	.clients p{
		margin-left:20px;
		margin-right:20px;
	}
}

/* team section styling */
.team{
	padding:50px 0px 80px;
	text-align:center;
}

.team b,h2,h4{
	margin:20px 0px 20px;
	color: #4c4c4c;
}

.team b{
	font-weight:600;
}

.team p{
	color:#737373;
}

.team img{
	height:150px;
	width:150px;
	margin-top:80px;
}

.team i{
	height:30px;
	width:30px;
	padding:5px;
	font-size:17px;
	border-radius:50%;
	background-color:blue;
	color:white;;
}

.team i:hover{
	background-color:white;
	color:blue;
}

/* styling contact us section */
.contacts{
	padding:50px 80px 0px;
	text-align:center;
	background-color: #bf5353;

}

.contacts p{
	padding-bottom:70px;
	xolor:white;
	margin: 20px 0px 20px;

}

.contacts .input-group{
margin-bottom:25px;
}

.contacts .form-control{
	border-radius:0 !important;

}

.contacts span{
	border-radius:0 !important;
}

.contacts btn{
	margin-top:12px;
	border-radius: 0 !important;
	width:100% !important;
	font-size:15px;
	background-color:#f08080 !important;
}

.contacts .btn:hover{
	background-color:#a85959 !important;
	color:white!important;
}

/* styling footer */
.footer{
	padding:30px;
	color:#cccccc;
	background-color:#222222;
}

.footer .social{
	height:30px;
	width:30px;
	font-size:20px;
	text-align:center;
	padding:2px;
	margin-bottom:15px;
	margin-right:5px;
	color:#eee;
}

.footer input{
	height:40px;
	width:185px;
	padding:5px;
	border:none;
	background-color: #cccccc;
	color:black;
}

.footer .btn{
	padding:10px 5px 10px;
}

@media(max-width:768px){
.footer .btn{
	margin:-2px 0px 0px 5px;
}
}

@media(min-width:378px){
	.footer .btn{
		margin:8px 20px 10px 5px !important;
	}
	}