.container-1{
    /* this is to enable flexbox model, disable this and nothing else will work for flexbox in this case */
display:flex;
/* align-items:center;
align-items: flex-start; 
align-items:flex-end;*/

/* this defines direction along which items are aligned , by default it is along row*/
/* flex-direction:column; */

}

.container-1 div{
    border:1px solid red;
    padding:20px;
}

.box1{
/* this is to give relative size of the screen this element occupy */
flex:2;
/* this is the order in which elements appear on screen */
order:3;
}

.box2{
/* this is to give relative size of the screen this element occupy */
flex:4;
/* this is the order in which elements appear on screen */
order:2;
}

.box3{
    /*this is to give relative size of the screen this element occupy  */
flex:4;
/* this is the order in which elements appear on screen */
order:3;
}